@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f49191;
}

header{
    background-color: rgb(68, 68, 68);
    color: white;
    text-align: center;
    padding: 20px;
}

#product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    width:300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.product img{
    max-width: 100%;
}

.product-description{
    margin-top: 10px;
}

.product-price{
    font-weight: bold;
    margin-top: 10px;
}

#add-product{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 20px;
}

#add-product h2{
    margin-bottom: 10px;
    font-size: 24px;
}

#product-form{
    display:flex;
    flex-wrap:wrap;
    gap: 10px;
}

#product-form div{
    flex: 1;
}

#product-form label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#product-form input[type="text"], #product-form input[type="number"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

#product-form button{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

